/* line 1, ../sass/partials/_layout.scss */
html, body { font-size: 16px; overflow-x: hidden; }

/* line 5, ../sass/partials/_layout.scss */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 11, ../sass/style.scss */
#container, header, footer { max-width: 960px; margin-left: auto; margin-right: auto; }
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
#container:after, header:after, footer:after { content: " "; display: block; clear: both; }
