@import "grids";
@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";
//@import "partials/layout";
@import "breakpoint";

#container, header, footer {
  @include span(4);
}
body { 
  background-color: #933;
}
html, body {
    font-size: $main-font-size;
    overflow-x:hidden;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
// Fill in
.button {
  display: inline-block;
  padding: 5px;
  @include border-radius(0px);
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  @include flex-font(9,19);
}
