@import "grids";
@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";
@import "partials/layout";
@import "breakpoint";

#container, header, footer {
  @include container;
}

p {
  font-size:  29px;
  font-weight: 200;

  color: #666;
  @include pre(2);
  @include span(5);
  @include breakpoint(600px) {
    color:#e2e;
  }
}
